APP_NAME=UtpIntegradorBuzzer
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8282
APP_TIMEZONE=UTC

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_PE

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=UtpIntegradorBuzzer
DB_USERNAME=UtpIntegradorBuzzerBD
DB_PASSWORD=12345678

SESSION_DRIVER=file
SESSION_LIFETIME=120
sESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=redis
CACHE_PREFIX=UtpIntegradortienda

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME=UtpIntegradorBuzzer

ADMIN_JQADM=1
APP_KEY=%APP_KEY%
XDEBUG_MODE=debug